
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/*HEADER*/

/*logo sub-section*/

#logo{
    height: 40px;
}

#logo img{
    min-width: 80px;
    max-width: 80px;
}

/*NAV*/

.custom_black{
    color: black;
}

nav img[src*="/chevron-"]{
    width: 12px;
    margin: 0 5px;
}

#search img{
    height: 25px;
}

.nav-link:hover span{
    color: #0070d1;
}

/*hover and rotation*/   /*MORE RESEARCH NEEDED*/    

.nav-link:hover img[src*="-solid"]{
    display: none !important;
}

.nav-link:hover img[src*="-hover"]{
    display: inline-block !important;
}

.nav-link.show span{
    color: #0070d1;
}

.nav-link.show img[src*="-hover"]{
    transform: rotate(180deg);
}

/*button*/

.custom_btn{
    padding: 5px 15px;
}

.custom_btn:hover {
    transition: 0.2s ease-in-out;
}

#accedi{
    background-color: #363636;
    border: 4px solid #363636;
}
  
#accedi:hover{
    box-shadow: inset 0 0 0 2px white;
}

/*dropdown*/

.pcard{
    cursor: pointer;
}

.pcard img{
    height: 85px;
}

.phover:hover{
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3)
}

/*MAIN*/

/*jumbo1*/

.jumbobg-first{
    background-image: url(images/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbo{
    height: 600px;
}

/*button*/

#acquista{
    background-color: #cd3d0f;
    border: 4px solid #cd3d0f; 
}

#acquista:hover{
    box-shadow: inset 0 0 0 2px white;
}

/*"sliding" section*/

.slidecard > img{
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.slidecard:hover > img{
    box-shadow: 0 0 0 2px #0070d1;
    transform: translate(0, -15px);
    transition: ease 0.3s;
}

/*PS5 SECTION*/

.pblu{
    color: #0070d1;;
}

#ps5{
    height: 100vh;
}

/*button*/

#infor{
    background-color: #0070d1;
    border: 4px solid #0070d1; 
}

#infor:hover{
    box-shadow: inset 0 0 0 2px white;
}

/*devices sub-section*/

.devicehover{
    filter: opacity(50%);
    min-height: 180px;      
}

.devicehover:hover{
    border-bottom: 2px solid #0070d1;
    cursor: pointer;
    filter: none;
}

.devicecard img{
    width: 100px;
}

/*jumbo2*/

.jumbobg-second{
    background-image: url(images/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*upcoming games section*/

.gamecard{
    cursor: pointer;
}

.gamecard > img{
    border-radius: 20px;
}

body *{
    border: 1px solid black;
}

@media screen and (max-width:992px) {
    .src-outline{
        border: 1px solid black;
    }
}


